<div class="CCELinks_content">
	<ul>
		<li><a href="http://cell.moe.edu.tw/School/login.aspx">大專校院推廣教育課程資訊網站</a></li>
		<li><a href="http://www.etraining.gov.tw/MovingSelf.html">台灣就業通</a></li>
		<li><a href="http://www.wda.gov.tw/">勞動力發展署</a></li>				
		<li><a href="http://tims.etraining.gov.tw/timsonline/check.aspx">勞動力發展署-產業人才投資方案</a></li>
		<li><a href="http://www.nctu.edu.tw/">國立交通大學</a></li>			
	</ul>	
</div>	
