<div class="CCEMembers_title">
推廣教育中心為教務處下之一行政單位，本中心設置主任一人，工作伙伴四名	
</div>
<div class="CCEMembers_content"> 
	<div class="CCEMembers_left">
		<div class="CCEMembers_part_left">
			<div class="CCEMembers_pos_name">
			<div class="CCEMembers_pos">主任</div><div class="CCEMembers_name">黃育綸</div>
			</div>
			<div class="CCEMembers">推動與規劃推廣教育及遠距教學服務業務，負責協調及決策中心業務之推廣與創新	</div>
			<div class="CCEMembers_email">Email</div>
			<div class="CCEMembers_email_in">ylhuang@cn.nctu.edu.tw</div>
			<div class="CCEMembers_tel">TEL</div>
			<div class="CCEMembers_tel_in">(03)5712121 轉分機52534 </div>
		</div>
	</div>	
	<div class="CCEMembers_right">
		<div class="CCEMembers_right_in_top">
			<div class="CCEMembers_part_right">
				<div class="CCEMembers_pos_name">
				<div class="CCEMembers_pos">四等技術師</div><div class="CCEMembers_name">江玉貞 </div>
				</div>
				<div class="CCEMembers">負責推廣教育課程之規劃與執行</div>
				<div class="CCEMembers_email">Email</div>
				<div class="CCEMembers_email_in">yoke@mail.nctu.edu.tw</div>
				<div class="CCEMembers_tel">TEL</div>
				<div class="CCEMembers_tel_in">(03)5712121 轉分機52528</div>
			</div>
			<div class="CCEMembers_part_right">
				<div class="CCEMembers_pos_name">
				<div class="CCEMembers_pos">助理管理師</div><div class="CCEMembers_name">劉素梅</div>
				</div>
				<div class="CCEMembers">負責承辦本校推廣教育委員會議審查本校推廣教育課程，校內外推廣教育課程之咨詢與服務及業務聯繫</div>
				<div class="CCEMembers_email">Email</div>
				<div class="CCEMembers_email_in">viona@mail.nctu.edu.tw</div>
				<div class="CCEMembers_tel">TEL</div>
				<div class="CCEMembers_tel_in">(03)5712121 轉分機52529</div>
			</div>
		</div>
		<div class="CCEMembers_right_in_bottom">
			<div class="CCEMembers_part_right">
				<div class="CCEMembers_pos_name">
				<div class="CCEMembers_pos">技術員</div><div class="CCEMembers_name">沈玹如</div>
				</div>
				<div class="CCEMembers">負責推廣教育課程之規劃與執行，與主任行程管理</div>
				<div class="CCEMembers_email">Email</div>
				<div class="CCEMembers_email_in">maggie@mail.nctu.edu.tw</div>
				<div class="CCEMembers_tel">TEL</div>
				<div class="CCEMembers_tel_in">(03)5712121 轉分機52527</div>
			</div>
			<div class="CCEMembers_part_right">
				<div class="CCEMembers_pos_name">
				<div class="CCEMembers_pos">計畫技術員</div><div class="CCEMembers_name">彭惠玲 </div>
				</div>
				<div class="CCEMembers">負責推廣教育課程之規劃與執行</div>
				<div class="CCEMembers_email">Email</div>
				<div class="CCEMembers_email_in">bella@mail.nctu.edu.tw</div>
				<div class="CCEMembers_tel">TEL</div>
				<div class="CCEMembers_tel_in">(03)5712121 轉分機31395</div>
			</div>
		</div>	
	</div>	
	
</div>
