<div class="CCENow_title">本校推廣教育工作核心與推展經驗的特色如下</div>	
<div class="CCENow_content clearfix">
	<ul>
		<li>
			<div class="CCENow_content_inside">
			<div class="CCENow_content_no">
			1
			</div>
			<div class="CCENow_content_caption">
			健全的運作主架構			
			</div>
			<div class="CCENow_content_part">
			本校推廣教育業務以各學院為推動主流，各系所為培訓執行單位，推廣教育中心綜理全校性之行政事務，由上而下與由下而上之雙向架構，以自給自足之經費模式為運作準則，致力於建立系統化、一貫化之行政運作制度 ，配合校務發展的目標 ，強化本校推廣教育的特色與形象。			
			</div> 
			</div>
		</li>
		<li><div class="CCENow_content_inside">
			<div class="CCENow_content_no">
			2
			</div>
			<div class="CCENow_content_caption">		
			培育科技管理人才	
			</div>
			<div class="CCENow_content_part">	
			推廣教育以培訓高科技及其管理人才為重心，配合產商業界之人力需求， 提供當前職務所需之技能訓練，並培育未來社會及產業發展所需的人才。
			關心社會知識的成長，注意產商業界國際競爭力的提升，研擬當前與未來 知識與人力需求的走向，進而以本校優異的教授群、雄厚的科技與管理之 教學、研究發展成就為實力舉辦多元化之人才培育課程及服務。					
			</div>
			</div> 
		</li>
		<li><div class="CCENow_content_inside">
			<div class="CCENow_content_no">
			3
			</div>
			<div class="CCENow_content_caption">
			應用科技普及教育				
			</div>
			<div class="CCENow_content_part">	
			本校近年來致力於建立以遠距教學方式普及推廣教育的功效，透過雙向、即時通訊及電腦網路，大眾有多種的進修管道，希望突破時間與空間的限制，追求人人隨時隨處可學習的目標。
			多次經由視訊遠距教學方式，舉辦新竹市內及與全省各地連線之專題演講、密集課程、夜間進修等。					
			</div>
			</div> 
		</li>
		<li><div class="CCENow_content_inside">
			<div class="CCENow_content_no">
			4
			</div>
			<div class="CCENow_content_caption">	
			跨領域人才的培訓			
			</div>
			<div class="CCENow_content_part">	
			本校設有推廣教育委員會即推廣教育中心，專司訂定及監督校內推廣教育之業務發展，推動以理論為基礎，以實務為範例之課程規劃，拉近產學間需求與供應面的距離，提供多元化的進修管道，追求優良的教學品質。
			課程內容著重跨領域之課題整合設計。教學除本校師資外，並視實務需要聘請產商業界之專家，強調老師與學生、學生與學生間的互動，發揮群體合作學習的功能。					
			</div>
			</div> 
		</li>		
		<li style="border: none; "><div class="CCENow_content_inside">
			<div class="CCENow_content_no">
			5
			</div>
			<div class="CCENow_content_caption">	
			提供多元培訓服務			
			</div>
			<div class="CCENow_content_part">	
			目前本校提供之進修方式有：學分班、研究班、進修班、短期研習會、密集技能訓練班等等。
			具獨有特色之培訓領域有：深次微米技術、通訊與電腦整合應用、彩色映像管、網路與軟體技術、工業工程製作管理、科技管理、資訊管理、科技與商用外語、智慧財產權管理、企業經理管理、經營管理等等。					
			</div>
			</div>
		</li>
	</ul>
	
</div>	
