<div class="CCELinks_content">
	<ul>
		<li>
			<div class="CCEStudents_sub_title">
				開課
			</div>	
			<div class="CCEStudents_sub_content">
			# 學員如未繳齊之文件請於第一堂補繳隨班助教。<br>
		    # 簽到並領取繳費收據。<br>
		    # 上課請自行攜帶環保杯。<br>
			</div>				
		</li>	
		<li>
			<div class="CCEStudents_sub_title">
				校園停車證
			</div>	
			<div class="CCEStudents_sub_content">
			# 駕汽車駛入校園，請於警衛亭領取停車票，並請將車輛停放於停車場，違規者會收到罰單。部份推廣教育班次將有停車卷可購買(洽各班助教、承辦人)。<br>
    		# 機車依規定不得駛入校園，請將機車停放於校門、環校機車道旁之機車停車場再步行進入校園。				
			</div>				
		</li>	
		<li>
			<div class="CCEStudents_sub_title">
				結業及學分扺免
			</div>	
			<div class="CCEStudents_sub_content">
    		# 結業：培訓班學員出席達規定次數並成績及格者，得發給學分證明書；非學分班學員出席達規定次數並經考核合格者，發給習業證書。<br>
    		# 學分抵免：學分班學員取得學分證明書於規定年限內考入本校該系所在職專班後，所修學分得依該系所相關規定予以抵免。	
			</div>				
		</li>	
		<li>
			<div class="CCEStudents_sub_title">
				退費辦法
			</div>	
			<div class="CCEStudents_sub_content">
		    # 因招生人數不足而未能開班者，全額退費。<br>
		    # 因故提出申請退費者，悉依教育部「大學推廣教育計畫審查要點」退費標準辦理：自繳費至實際上課日前退學者，退還已繳學雜費等各項費用之七成；自實際上課日算起未逾全期三分之一者，退半數；在班時間已達三分之一者，不予退還。<br>
			# 課程進行期間如遇颱風等天災，本中心均依新竹市政府不上班、不上課之公告辦理，將課程予以順延或擇日再補課。<br>				
			</div>				
		</li>								
	</ul>	
</div>	
