<div class="CCESurvey_content">
<div class="CCESurvey_content_title">
首先，非常感謝您於百忙之中，協助填答此份問卷。您的意見相當寶貴，
請依照實際狀況與您個人的看法作答
您的建議將可使我們為您提供更好的服務！感謝您的配合！
</div>
<div class="CCESurvey_sub_content">
1	您的背景?<br>
<input type="radio" >國中以下
<input type="radio" >高中
<input type="radio" >專科
<input type="radio" >大學
<input type="radio" >碩士
<input type="radio" >博士<br>
2	您的專長?<br>
<input type="radio" >半導體電腦、通訊
<input type="radio" >生物科技
<input type="radio" >理工
<input type="radio" >金融/管理
<input type="radio" >語文
<input type="radio" >其他<br>
3	請選有意願上的課程?<br>
<input type="radio" >醫療保健
<input type="radio" >流通運輸
<input type="radio" >語文
<input type="radio" >企業管理
<input type="radio" >金融、保險
<input type="radio" >綠色能源/環保生態
<input type="radio" >半導體電腦、通訊
<input type="radio" >生物科技
<input type="radio" >運動休閒/文化創意
<input type="radio" >其他<br>
4	您希望的課程為？<br>
<input type="text"><br>
<input type="submit" value="送出">
</div>
</div>
