body {
	font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;
	background: #F2EEEA;
	overflow-y: scroll;
}
a{
	text-decoration: none;
}
button{
	border:0;
	outline: 0;   
	outline-style:none;     
	outline-width:0;	
}
.apple_pagination {
  background: #F2EEEA;
  text-align: center;
  padding: 1em;
  cursor: default; 
}
.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; 
}
.apple_pagination .disabled {
    color: #aaaaaa; 
}
.apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
}
.apple_pagination a {
    text-decoration: none;
    color: black;
}
.apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; 
}
/*============================================= left menu =========================================*/
.cce_left_menu_container
{
	color: #F2EEEA;	
	position: fixed;
	top: 0;
	left: 0;
	width: 230px;
	height: 100%;
	z-index: 1;
	background: #198EB9;
}
.cce_left_menu_container .signIn_container
{
	margin: 4% auto;
	width:  85%;
	height: 107px;
	border: 4px solid #F2EEEA
}
.signIn_container_title{
  	width: 85%;
  	margin: 2px auto;	
}
.signIn_container_title_ch{
	letter-spacing: 4px;
	font-size: 11px; 
}
.signIn_container_title_en{
	font-family: Palatino Linotype;		
    font-style: italic;
    letter-spacing: 4px;
}
.login, .logout{
  	width: 88%;
  	margin: 1px auto;
}

.login input[type=text]{
  width: 100%;
  height: 1.5em;
  letter-spacing: 0.1em;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 4px;
  color: #F2EEEA;
  font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
 
}

.login input[type=password]{
  width: 100%;
  height: 1.5em;
  letter-spacing: 0.1em;  
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 4px;
  color:  #F2EEEA;
  font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
}

.login input[type=submit], .logout_a{
  line-height: 8px;
  width: 80px;
  height: 18px;
  background: #F2EEEA;
  border: 1px solid #F2EEEA;
  cursor: pointer;
  border-radius: 2px;
  color: #198EB9;
  font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-top: 6px;
}
.login .forget_pw{
	padding-left: 15px;
	margin-left: 15px;
	font-size: 10px;
	border-left: 1px solid rgba(255,255,255,0.6);
}
.logout .settings{
	color: #F2EEEA;		
	padding-left: 15px;
	margin-left: 1.8em;
	font-size: 10px;
	border-left: 1px solid rgba(255,255,255,0.6);
}
.logout .settings:hover{
	opacity:  0.8;
}
.login input[type=submit]:hover, .logout_a:hover{
 	opacity: 0.8;
}

.login input[type=submit]:active, .logout_a:active{
  opacity: 0.6;
}

.login input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=submit]:focus{
  outline: none;
}
::-webkit-input-placeholder{
   opacity: 1;
}
::-moz-placeholder {  /* Firefox 19+ */
   opacity: 0.5;
}
:-ms-input-placeholder {  
   opacity: 0.5;  
}
.hello{
	width:100%;
	height:35px;
	line-height: 38px;
	letter-spacing: 5px;	
	text-align:center;
	margin: 8px auto;
	border-radius: 5px;
	border: 1px solid rgba(255,255,255,0.6);	
}
.cce_left_menu_container .mid_container
{
	margin: 14px auto;
    width: 85%;
    height: 50%;
    border-top: 3px solid #F2EEEA
}

.mid_container ul{
	list-style-type: none;
	padding: 0;
} 
.mid_container li{
	width: 180px;
	margin-bottom: 13px;
	height: 30px;
} 
.mid_container li a{
	color: #F2EEEA;
} 
.mid_container li:hover{
	opacity: 0.8;
} 
.mid_container li .mid_container_img{
	float: left;
	margin-top: 5px;
}
.mid_container li .mid_container_word{
	float: left;
	margin-left: 15px;
}
.mid_container li .mid_container_CH{
    font-family: Microsoft YaHei, 'Lato', Calibri, Arial, sans-serif;	
	letter-spacing: 5px;
	font-size: 12px;	
}
.mid_container li .mid_container_EN{
	font-size: 70%;
    font-family: Palatino Linotype;		
    font-style: italic;		
}
.cce_left_menu_container .bot_container
{
	position: fixed;
	left: 13px;
	bottom: 25px;
	width: 195.5px;
	height: 100px;
	border: 4px solid #F2EEEA	
}
.bot_container ul{
	list-style-type: none;
	padding:0;
	margin-top: 10px;
	margin-left: 18px;		
} 
.bot_container li{
	float: left;
	width: 180px;
	height: 22px;
	font-weight: bold;
} 
.bot_container li:hover{
	opacity: 0.8;
} 
.bot_container li .bot_container_img{
	float: left;
	margin-top: 0em;
	color: #F2EEEA;	
	width: 20px;
}
.bot_container li .bot_container_word{
	float: left;
	margin-left: 7px;
	color: #F2EEEA;	
}
.bot_container li .bot_container_CH{
	letter-spacing: 5px;
	font-size: 10px;
}
.bot_line{
	position: fixed;
	width: 205px;
	left: 13px;
	bottom: 5px;
}
.bot_line_left{
	border-bottom: 5px solid #F2EEEA;
	height: 10px;
	width: 48%;
	display: inline-block;
}
.bot_line_right{
	border-bottom: 5px dotted #F2EEEA;
	height: 10px;
	width: 48%;	
	display: inline-block;
}
/*============================================= top menu =========================================*/
.cce_top_menu_container
{
	color: #198EB9;	
	position: fixed;
	top: 0;
	left: 250px;
	width: 78%;
	height: 195px;
	overflow: visible;
	background: #F2EEEA;
	z-index: 1;
}
.cce_top_menu_container .logo_container
{
	height: 111px;
	border-bottom: 1px solid #198EB9;	
	padding-bottom: 10px;
}
.logo_container_title{
	float:left;
	font-weight: bold;
	margin-top: 13px;	
	width:  200px;
	border: 3px solid #198EB9;	
}
.logo_container_title_inner_cce{
	width: 60%;
	text-align: center;
	font-size: 38px;
	line-height: 40px;
	margin-left: 26px;
	letter-spacing: 35px;
    font-family: Microsoft JhengHei, Palatino Linotype;		
    font-style: italic;	
}
.logo_container_title_inner_en{
	width: 100%;
	text-align: center;						
	font-size: 10.5px;
	letter-spacing: 0.3px;
	border-top: 3px solid #198EB9;
	border-bottom: 3px solid #198EB9;
    font-family: Microsoft JhengHei, Palatino Linotype;		
    font-style: italic;
    			
}
.logo_container_title_inner_ch{
	margin-left: 14%; 
	width: 80%; 
	line-height: 17px; 
	letter-spacing: 14px; 
	font-size: 12px; 
	text-align: center;	
}
.logo_container_pic{
	float: right;
}
.logo_container_pic img{
	margin-top: 35px;
	height: 78px;
}

.cce_top_menu_container .title_container
{
	height: 38px;
	border-bottom: 1px solid #198EB9		
}
.title_container_left{
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin-top: 5px;	
    font-family: Microsoft JhengHei;	
	
}
.title_container_left_content{
	float: left;
	letter-spacing: 5px;
	margin-left: 10px;
	margin-top: 5px;
}
.title_container_right{
	float: right;
}

.search_box input[type="text"] {
	color: #898989;	
	width: 230px;
	float:right;
	font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;	
	background: #F2EEEA;
	border: 3px solid #198EB9;	
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    line-height: 16px;
    margin-top: 6px;
    padding: 2px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}
.search_box input[type=text]:focus{
  outline: none;
  width: 245px;
}
.search_box input[type=text]:active{
  outline: none;
  width: 245px;
}
.search_box button {
	position: absolute;
	right: 5px;
    margin-top:7px;
	background: none;
    cursor: pointer;
    color: #198EB9;
    font-size: 20px;
    padding: 2px;
} 
.cce_top_menu_container .filter_container
{
	height: 30px;
	border-bottom: 1px solid #198EB9;		
}

.filter_container_left{
	float: left;
	margin-top: 5px;	
}
.filter_container_left_content{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 5px;
	margin-left: 0.4em;
}
.filter_container_right{
	float: right;
	font-size: 16px;
	margin-top: 5px;
}
.select_container{
	border-left: 1px solid #198EB9;	
	float: left;
	margin-left: 10px;
	padding-left: 10px;
}

.select_filter{
	width: 140px;
	position: relative;
	overflow: hidden;
}
.select_filter select {
   font-family: Microsoft YaHei, 'Lato', Calibri, Arial, sans-serif;	
   cursor:pointer;
   color: #198EB9;	
   background: transparent;
   width: 160px;
   text-align:-moz-center;
   text-align:-webkit-center;   
   font-size: 13px;
   letter-spacing: 5px;
   padding-right: 20px;
   border: none;
   border-radius: none;
   -moz-appearance: none; 
   -webkit-appearance: none;
   }
.select_filter select:hover { 
  	opacity: 0.8;
}   
.select_filter select:focus{
   outline: none;
}
.select_filter option
{
   text-align:-moz-center;
   text-align:-webkit-center;   	
   background: #F2EEEA;
}
.select_filter span {
    font-size: 15px;
	position: absolute;
	right: 0.5px;
	top: 3px;
}    

/*============================================= cce main container =========================================*/
.cce_main_container{
	clear: both;
	margin-top: 198px;
	margin-left: 250px;	
    width: 78%;	
}

.function_title {
	font-style: italic;
	color: #198EB9;
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 20px;
}
.function_field{
    margin-bottom: 20px;	
}
.function_button {
    margin-right: 10px;	
    cursor: pointer;
    padding: 7px 0px;
    padding-left: 10px;
    border-radius: 1px;
    font-size: 14px;
    letter-spacing: 10px;    
    line-height: 10px;
    font-family: Microsoft YaHei, 'Lato', Calibri, Arial, sans-serif;	
	color: #F2EEEA;	    
    background: #198EB9;
} 
.function_button:hover {
  	opacity: 0.8;
} 
.function_sub_button {
    margin-right: 5px;	
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 1px;
    font-size: 12px;
    letter-spacing: 2px;    
    line-height: 9px;
    font-family: Microsoft YaHei, 'Lato', Calibri, Arial, sans-serif;	
	color: #F2EEEA;	    
    background: #198EB9;
} 
.function_sub_button:hover {
  	opacity: 0.8;
} 
.function_del_button {
    margin-right: 5px;	
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 1px;
    font-size: 12px;
    letter-spacing: 2px;    
    line-height: 9px;
    font-family: Microsoft YaHei, 'Lato', Calibri, Arial, sans-serif;	
	color: #F2EEEA;	    
    background: #C13333;
} 
.function_del_button:hover {
  	opacity: 0.8;
} 


.form_table{
	color: #198EB9;
	display: table;
	margin-bottom: 50px;
}
.form_row{
	display: table-row;
	height: 48px;
}
.form_title{
	width: 130px;
	display: table-cell;
	padding-top: 10px;
	padding-right: 10px;	
    vertical-align: middle;			
}
.form_sub{
	display: table-cell;
	padding-top: 10px;
	padding-right: 10px;	
    font-size: 20px;
	border-bottom: 3px dotted #198EB9;			
}
.form_content{
	display: table-cell;
	padding-top: 10px;
	color:  #898989;    	
}

.form_table input[type="text"] {
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
	color:  #898989;    
	background: #F2EEEA;
	border: 3px solid #198EB9;		
}
.form_table input[type="number"] {
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
	color:  #898989;    
	background: #F2EEEA;
	border: 3px solid #198EB9;		
}
.form_table input[type="password"] {
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
	color:  #898989;    
	background: #F2EEEA;
	border: 3px solid #198EB9;		
}
.form_table textarea {
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
	color:  #898989;    
	background: #F2EEEA;
	border: 3px solid #198EB9;		
}
.form_table select {
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
	color:  #898989;    
	background: #F2EEEA;
	border: 3px solid #198EB9;		
}

.form_table button {
    height: 30px;
    width: 180px;
    cursor: pointer;
    border-radius: 1px;
    font-size: 17px;
    letter-spacing: 10px;    
    font-family: Microsoft YaHei, 'Lato', Calibri, Arial, sans-serif;	
	color: #F2EEEA;	    
    background: #198EB9;
} 
.form_table button:hover {
  	opacity: 0.8;
} 

.show_table{	
	display: table;	
}
.show_row{
	display: table-row;		
}
.show_title{
	width: 150px;
	padding-top: 8px;
	padding-right: 25px;
	color: #198EB9;	
	display: table-cell;	
}
.show_content{
	max-width: 400px;
	padding-top: 8px;
	padding-right: 25px;	
	color:  #898989;	
	display: table-cell;		
}
.show_sub{
	color: #198EB9;		
	display: table-cell;
	padding-top: 10px;
	padding-right: 20px;	
    font-size: 20px;
	border-bottom: 3px dotted #198EB9;			
}
.index_table{
	display: table;	
	color: #198EB9;	
}
.index_row{
	display: table-row;	
}
.index_title{
	display: table-cell;
	padding-top: 10px;
	padding-right: 20px;	
    font-size: 18px;
    font-weight: bold;		
}
.index_content{
	padding-right: 20px;
	display: table-cell;
	color:  #898989;
	padding-top: 15px;  			
}
.index_border{
	display: table-cell;
	padding-top: 10px; 
	border-bottom: 1px solid #198EB9;		
}
/*=============================================       masonry      =========================================*/
#masonry-container{
 
}
.cce_box{
  	width: 170px;
  	background: #198EB9;
	margin: 5px auto 5px;	
	border-radius: 3px;
	border: 1px solid #DADADA;
}
.cce_box_title{
	width: 80%;
	color: #F2EEEA;	
	min-height: 60px;
	font-size: 15px;
	letter-spacing: 5px;
	text-align:center;
	margin: 23px auto;	
}
.cce_box_tag{
	background: #F2EEEA;
}
.cce_box_tag_dim{
	width: 80%;
	color: #878787;	
	line-height: 25px;
	border-bottom: 1px solid #DADADA;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 3px;
	text-align:center;
	margin: 0em auto;	
}
.cce_box_tag_status{
	width: 80%;
	color: #878787;	
	line-height: 25px;
	border-bottom: 1px solid #DADADA;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 3px;
	text-align:center;
	margin: 0em auto;	
}
.cce_box_tag_kind{
	width: 80%;
	color: #878787;	
	line-height: 25px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 3px;
	text-align:center;
	margin: 0em auto;	
}
.cce_box_enroll_status{
	width: 100%; color: #878787; margin: 0em auto; background: #747474;
}
.cce_box_enroll_status_inner{
	float:left;			
	width: 50%;
	text-align:center;
	background: #DBDBDB;
	font-size: 14px; 
	line-height: 18px;
	padding-top: 3px;
}
.news_box{
  	width: 280px;
  	background: #198EB9;
	margin: 10px auto 10px;	
}
.news_box_title{
    font-family: Microsoft YaHei, 'Lato', Calibri, Arial, sans-serif;	
	width: 89%;
	color: #F2EEEA;	
	font-size: 17px;
	font-style: italic;
	letter-spacing: 7px;
	margin: 1em auto 5px;
	padding-bottom: 6px;	
	border-bottom: 3px solid #F2EEEA;	
}
.news_box_img{
	width: 89%; 
	margin: 10px auto;
	padding-bottom: 6px;		
	border-bottom: 3px solid #F2EEEA;	
}
.news_box_content{
	width: 89%;
	color: #F2EEEA;	
	line-height: 17px;
	font-size: 12px;
	letter-spacing: 3px;
	margin: 0.5em auto; 
	padding-bottom: 12px;		
	border-bottom: 1px solid #F2EEEA;		
}
.news_box_date_view{
	width: 89%;
	color: #F2EEEA;	
	line-height: 13px;
	font-size: 10px;
	letter-spacing: 2px;
	margin: 5px auto 13px; 
}
/*=============================================       cce class    =========================================*/
.cce_class_show{
	background: #F2EEEA;
	width: 700px;	
}
.cce_class_show_logo{
	width: 200px;
	color: #198EB9;
	border: 5px solid #198EB9;		
}
.cce_class_show_logo_en{
	width: 80%;
	text-align: center;
	font-size: 35px;
	line-height: 43px;
	margin-left: 10px;
	letter-spacing: 7px;
    font-family: Palatino Linotype;		
    font-style: italic;		
}
.cce_class_show_logo_ch{
	margin-left: 14%; 
	width: 80%; 
	line-height: 19px; 
	letter-spacing: 12px; 
	font-size: 13px; 
	text-align: center;		
}
.cce_class_show_title_apply{
	margin-top: 10px;	
	height: 70px;
}
.cce_class_show_title_container{	
	float:left;
}
.cce_class_show_apply{
	color: #198EB9;	
	float: right;
	width: 100px;
	margin-right: 15px;	
	border: 5px solid #198EB9;	
	height: 35px;
	text-align: center;
	padding-top: 18px;	
}
.cce_class_show_apply a{
	color: #198EB9;	
}
.cce_class_show_apply a:hover{
	opacity: 0.8;	
}
.cce_class_show_title{
    font-family: Microsoft YaHei, 'Lato', Calibri, Arial, sans-serif;	
	text-align: left;
	font-size: 25px;
	line-height: 35px;
	letter-spacing: 5px;
	color: #198EB9;	
}
.cce_class_show_sub_title{
    font-family: Microsoft YaHei, 'Lato', Calibri, Arial, sans-serif;	
	text-align: left;
	margin-top: 0px;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 5px;
	color: #198EB9;	
}
.cce_class_show_content{
	border-top: 1px solid #198EB9;		
	border-bottom: 1px solid #198EB9;
	padding-top: 10px;
	margin-right: 20px;		
}
.cce_class_show_basic{
	width: 80%;
	display: inline-block;
	border: 5px solid #198EB9;	
	margin-bottom: 15px;			
}
.cce_class_show_basic_inner{
	display: table-row;	
	width: 95%;
	margin: 5px auto;
}
.cce_class_show_basic_cell_title{
	display: table-cell;	
	color: #198EB9;	
	letter-spacing: 7px;
	line-height: 28px;	
	padding-left: 20px;	
	width: 100px;		
}
.cce_class_show_basic_cell_content{
	display: table-cell;
	letter-spacing: 3px;	
    font-style: italic;		
    font-family: Arial;		
	color: #7A7A7A;    
	padding-left: 20px;		
	padding-right: 20px;			
}
.cce_class_show_main{
	border: 5px solid #198EB9;		
	color: #7A7A7A;	
	letter-spacing: 3px;
	line-height: 25px;			
	padding: 5px 5px;
	margin-bottom: 15px;	
}
.cce_class_show_main_inner{
	width: 98%;
	margin: 5px auto;
}
.cce_class_show_main_title{
	display: inline-block;	
	color: #198EB9;	
	letter-spacing: 6px;
	line-height: 25px;	
	width: 100px;	
	font-size: 13px;
	padding-left: 5px;
	text-align: center;
	border: 5px solid #198EB9;		
	vertical-align: top;
}
.cce_class_show_main_content{
	display: inline-block;
	width:78%;
	font-size: 13px;
	letter-spacing: 3px;		
	color: #7A7A7A;    
	margin-top: 17px;	
	margin-left: 10px;	
	border-top: 1px solid #198EB9;		
			
}

.cce_class_show_others{
	border: 5px solid #198EB9;	
	display: table;		
	width: 42%;	
	margin-bottom: 50px;			
}
.cce_class_show_others_inner{
	display: table-row;	
	width: 90%;
	margin: 5px auto;	
}
.cce_class_show_others_title{
	display: table-cell;	
	letter-spacing: 4px;
	font-size: 14px;
	line-height: 28px;	
	padding-left: 20px;		
	color: #7A7A7A; 	
	width: 100px; 		
}
.cce_class_show_others_content{
	display: table-cell;
	letter-spacing: 3px;		
	color: #7A7A7A;  	
}
.cce_class_show_close{
    font-family: Arial;		
	font-size: 40px;
	line-height: 60px;		
	color: #198EB9;	
	position: absolute;
	top: -10px; 
	right: 10px;
    cursor: pointer;	
}
.cce_class_show_close:hover{
	opacity: 0.8;    	
}

/*=============================================       news     =========================================*/
.news_show{
	background: #F2EEEA;
	max-width: 700px;	
}
.news_show_logo{
	width: 145px;
	color: #198EB9;
	border: 5px solid #198EB9;		
}
.news_show_logo_en{
	width: 80%;
	text-align: center;
	font-size: 35px;
	line-height: 43px;
	margin-left: 10px;
	letter-spacing: 7px;
    font-family: Palatino Linotype;		
    font-style: italic;		
}
.news_show_logo_ch{
	margin-left: 14%; 
	width: 80%; 
	line-height: 19px; 
	letter-spacing: 12px; 
	font-size: 13px; 
	text-align: center;		
}
.news_show_title{
    font-family: Microsoft YaHei, 'Lato', Calibri, Arial, sans-serif;	
	text-align: left;
	margin-top: 10px;
	font-size: 25px;
	line-height: 35px;
	letter-spacing: 5px;
	color: #198EB9;	
}
.news_show_content{
	border-top: 1px solid #198EB9;		
	border-bottom: 1px solid #198EB9;
	padding-top: 10px;
	margin-right: 20px;	
}
.news_show_basic{
	border: 5px solid #198EB9;	
	display: table;		
	margin-bottom: 15px;
}
.news_show_basic_inner{
	display: table-row;	
	width: 90%;
	margin: 5px auto;
}
.news_show_basic_cell_title{
	display: table-cell;	
	color: #198EB9;	
	letter-spacing: 7px;
	line-height: 28px;	
	padding-left: 20px;			
}
.news_show_basic_cell_content{
	display: table-cell;
	letter-spacing: 3px;	
    font-style: italic;		
    font-family: Arial;		
	color: #7A7A7A;    
	padding-left: 20px;		
	padding-right: 20px;			
}
.news_show_basic_cell_content a{
	color: #7A7A7A;    		
}
.news_show_basic_cell_content a:hover{
	opacity: 0.8;    		
}
.news_show_main{
	border: 5px solid #198EB9;		
	color: #7A7A7A;	
	letter-spacing: 3px;
	line-height: 25px;			
	padding: 0px 15px;
	margin-bottom: 15px;	
}
.news_show_DM{
	border: 5px solid #198EB9;		
	margin-bottom: 15px;	
}
.news_show_others{
	border: 5px solid #198EB9;	
	display: table;		
	margin-bottom: 50px;			
}
.news_show_others_inner{
	display: table-row;	
	width: 90%;
	margin: 5px auto;	
}
.news_show_others_title{
	display: table-cell;	
	letter-spacing: 4px;
	font-size: 14px;
	line-height: 28px;	
	padding-left: 20px;		
	color: #7A7A7A;
}
.news_show_others_content{
	display: table-cell;
	letter-spacing: 3px;		
	color: #7A7A7A;
	padding-left: 20px;		
	padding-right: 20px;	  	
}
.news_show_close{
    font-family: Arial;		
	font-size: 35px;
	line-height: 60px;		
	color: #198EB9;	
	position: absolute;
	right: 10px;
	top: -20px;
}
.news_show_close:hover{
	opacity: 0.8;    	
}
