@font-face {
	font-family: 'left_bot';
	src: asset-url( 'icons/left_bot.eot');
	src: asset-url( 'icons/left_bot.eot?#iefix') format('embedded-opentype'),
		 asset-url( 'icons/left_bot.woff') format('woff'),
		 asset-url( 'icons/left_bot.ttf') format('truetype'),
		 asset-url( 'icons/left_bot.svg#left_bot') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'course_news';
	src:asset-url('icons/course_news.eot');
	src:asset-url('icons/course_news.eot?#iefix') format('embedded-opentype'),
		asset-url('icons/course_news.woff') format('woff'),
		asset-url('icons/course_news.ttf') format('truetype'),
		asset-url('icons/course_news.svg#course_news') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'remain';
	src: asset-url( 'icons/remain.eot');
	src: asset-url( 'icons/remain.eot?#iefix') format('embedded-opentype'),
		 asset-url( 'icons/remain.woff') format('woff'),
		 asset-url( 'icons/remain.ttf') format('truetype'),
		 asset-url( 'icons/remain.svg#remain') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'filter';
	src: asset-url( 'icons/filter.eot');
	src: asset-url( 'icons/filter.eot?#iefix') format('embedded-opentype'),
		 asset-url( 'icons/filter.woff') format('woff'),
		 asset-url( 'icons/filter.ttf') format('truetype'),
		 asset-url( 'icons/filter.svg#filter') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'filter-arrow';
	src:asset-url('icons/filter-arrow.eot');
	src:asset-url('icons/filter-arrow.eot?#iefix') format('embedded-opentype'),
		asset-url('icons/filter-arrow.woff') format('woff'),
		asset-url('icons/filter-arrow.ttf') format('truetype'),
		asset-url('icons/filter-arrow.svg#filter-arrow') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'search';
	src:asset-url('icons/search.eot');
	src:asset-url('icons/search.eot?#iefix') format('embedded-opentype'),
		asset-url('icons/search.woff') format('woff'),
		asset-url('icons/search.ttf') format('truetype'),
		asset-url('icons/search.svg#search') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'fb_view_clock';
	src:asset-url('icons/fb_view_clock.eot');
	src:asset-url('icons/fb_view_clock.eot?#iefix') format('embedded-opentype'),
		asset-url('icons/fb_view_clock.woff') format('woff'),
		asset-url('icons/fb_view_clock.ttf') format('truetype'),
		asset-url('icons/fb_view_clock.svg#fb_view_clock') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'management';
	src:asset-url('icons/management.eot');
	src:asset-url('icons/management.eot?#iefix') format('embedded-opentype'),
		asset-url('icons/management.woff') format('woff'),
		asset-url('icons/management.ttf') format('truetype'),
		asset-url('icons/management.svg#management') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-stack:before {
	content: "\e600";
}
.icon-sound:before {
	content: "\e601";
}
.icon-justice:before {
	content: "\e603";
}
.icon-location:before {
	content: "\e604";
}
.icon-users:before {
	content: "\e605";
}
.icon-institution:before {
	content: "\e606";
}
.icon-clipboard:before {
	content: "\e607";
}
.icon-clipboard2:before {
	content: "\e608";
}
/*.icon-filter:before {
	content: "\e609";
}*/
.icon-arrow-down:before {
	content: "\e610";
}
.icon-filter:before {
	content: "\e611";
}
.icon-search:before {
	content: "\e612";
}
.icon-clock:before {
	content: "\e613";
}
.icon-facebook:before {
	content: "\e614";
}
.icon-eye:before {
	content: "\e615";
}
.icon-management:before {
	content: "\e616";
}
.course_news-icon:before {
    font-family: "course_news";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
 	font-size: 100%;  
}

.left_bot-icon:before {
    font-family: "left_bot";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
 	font-size: 100%;    
}
.remain-icon:before {
    font-family: "remain";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
 	font-size: 100%;    
}
.filter-icon:before {
    font-family: "filter";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
 	font-size: 100%;    
}
.filter-arrow-icon:before {
    font-family: "filter-arrow";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
 	font-size: 100%;    
}
.search-icon:before {
    font-family: "search";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
 	font-size: 100%;    
}
.fb_view_clock-icon:before{
	font-family: "fb_view_clock";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
 	font-size: 100%;    	
}
.management-icon:before{
	font-family: "management";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
 	font-size: 100%;  
}